<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aladin.Mapper.BooksMapper">

  <select id="searchBooks" resultType="com.example.aladin.Entity.Books">
    select title, author, publisher, price, pub_date
    from books
    where
    <choose>
    <when test="type == 'title'">
     title LIKE CONCAT('%', #{content}, '%')
    </when>
    <when test="type == 'author'">
      author LIKE CONCAT('%', #{content}, '%')
    </when>
    <when test="type == 'publisher'">
      publisher LIKE CONCAT('%', #{content}, '%')
    </when>
  </choose>
  </select>
</mapper>